<footer class="footer">
  <div class="footer_content container">
    <ul class="footer_address">
      <li>Rua Principal, 123</li>
      <li>Bairro Centro</li>
      <li>Cidade, Estado</li>
      <li>CEP 12345-678</li>
      <li>Telefone: (11) 1234-5678</li>
      <li>Email: contato@empresa.com</li>
    </ul>

    <ul class="footer_social">
      <li>
        <a href="https://wa.me/557583252987?text=Olá, tenho interesse em fazer um site . Como podemos prosseguir?" class="footer_link" target="_blank">
          <i class="fa-solid fa-phone"></i>
          Telefone
        </a>
      </li>
      <li>
        <a href="https://wa.me/557583252987?text=Olá, tenho interesse em fazer um site . Como podemos prosseguir?" class="footer_link" target="_blank">
          <i class="fab fa-whatsapp"></i>
          Whatsapp
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/constsoft/" class="footer_link" target="_blank">
          <i class="fab fa-instagram"></i>
          Instagram
        </a>
      </li>
    </ul>

    <form action="#" method="post" class="footer_newsletter">
      <div class="form_group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Seu email" required>
      </div>
      
      <div class="form_group">
        <label for="phone">Telefone</label>
        <input type="tel" id="phone" name="phone" placeholder="Seu telefone" required>
      </div>
      
      <div class="form_group">
        <label for="feedback">Feedback</label>
        <textarea id="feedback" name="feedback" placeholder="Seu feedback"></textarea>
      </div>
      
      <button type="submit">Enviar</button>
    </form>
    
  </div>

  <div class="footer_separator"></div>

  <p class="footer_copyright">
    Copyright <a class="footer_link" href="https://const-soft.vercel.app/">ConstSoft Desenvolvimento de Software</a> | 2024
  </p>
</footer>
