
<section class="navbar-container  ">
  <nav class="navbar container">
    <a class="navbar-logo-container" href="/">
      <img class="navbar-logo" src="/images/logo.png" alt="logo da empresa">
    </a>

    <ul class="navbar-ul">
      <li class="texto-com-hover">
        <a href="/cart" class="color-text2">Carrinho <i class="fa-solid fa-cart-shopping"></i></a>
        <div class="nav-underline linha"></div>
      </li>
      <!-- <li class="texto-com-hover">
        <a href="/user" class="color-text2">Perfil</a>
        <div class="nav-underline linha"></div>
      </li> -->
    </ul>

    <!-- btn mobile -->
    <!-- <div class="navigation-container-mobile">
      <p class="d-inline-flex nav-container-btn-mobile mt-3">
        <button
          class="btn btn_dropdown-header"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          <i class="fa-solid fa-bars header-menu-icon  color-text1"></i>

          <span class="sr-only">Menu</span>
        </button>
      </p>
    </div> -->

    <a href="/cart" class="fa-solid fa-cart-shopping cart-navbar"></a>
  </nav>


  <!-- body mobile -->
  <!-- <div class="collapse header-container_menu-mobile container" id="collapseExample">
    <ul class="header-menu-mobile">
      <li><a class="li_dropdown-header" href="/cart" style="color: #f7bb27;">Carrinho</a></li>
      <hr>
      <li><a class="li_dropdown-header" href="/admin/users" style="color: #f7bb27;">Perfil</a></li>
    </ul>
  </div> -->
</section>