.img-modal{
  height: 65px;
  border-radius: 8px;
}

.text-container-modal{
  text-align: start;
}
.title-modal{
  text-align: start;
}

.info-modal{
  display: flex;
  gap: 2em;
  width: 100%;
  align-items: center;
}

.buttons-modal{
  text-align: end;
  margin-top: 40px;
}

.button-close {
  background-color: #f52d2d; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
  cursor: pointer;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
  cursor: pointer;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  /* max-width: 1000px; */
  padding: 20px;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.popup__content__sub{
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.popup__text {
  /* font-size: 1.4rem; */
  margin-bottom: 2rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}


.item-quantity{
  display: flex;
  justify-content: flex-end;
}

#quantity1{
  text-align: center;
  border: none;
}

.content_add_modal{
  text-align: start;
}

.content_add_modal > div{
  gap: 2em;
}

.btn-add{
  border: none;
}


.content-items-add{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ul-items-add{
  display: flex;
  gap: 1em;
}

.item-text{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
}
.textarea-modal{
  min-height: 150px;
  width: 100%;
}

.item-additional, .item-flavor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(168, 168, 168);;
  padding: 0 0.5em;
  width: 130px;
  border-radius: 8px;
}

.item-additional > p, .item-flavor > p{
  margin-top: 0.2em;
}

.remove-flavor-btn, .remove-additional-btn{
  background-color: #f52d2d;
  border: none;
  border-radius: 4px;
  padding: 0.1em 0.3em;
}

@media screen and (max-width:900px){
  .popup__content__sub{
    flex-direction: column;
    justify-content: start;
  }

  .content-add{
    justify-content: space-between;
  }

  .container-complement{
    margin-top: 20px;
    flex-direction: column-reverse;
  }

  .item-text{
    width: 100%;
  }

  
  .popup__content {
    width: 90%;
  }
}

