.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  height: 40px;
  padding: 0.5em 1em; /* Adiciona espaçamento interno para o texto */
  border-radius: 24px 0 0 24px;
  border: 1px solid #ccc; /* Adiciona uma borda suave */
  outline: none;
  transition: border-color 0.3s ease; /* Suave mudança de cor de borda */
}

.search-input:focus {
  border-color: #007bff; /* Destaca o campo quando focado */
}

.search-btn {
  height: 40px; /* Ajuste para igualar a altura do botão ao input */
  padding: 0.5em 1em;
  border-radius: 0 24px 24px 0;
  border: none;
  background-color: #007bff; /* Cor de fundo */
  color: #fff; /* Cor do texto */
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.search-btn:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
